<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColorUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <userSettings>
        <ColorUtility.My.MySettings>
            <setting name="optimizeSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useHSV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useRGB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clipCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </ColorUtility.My.MySettings>
    </userSettings>
</configuration>
